<h2>
  <span>Exercises</span>
</h2>
<div>
<%= render 'shared/errors_messages', object: @exercise %>
<%= render 'form', exercise: @exercise%>
</div>
<br>

<div class="container">
  <%=form_tag(exercises_path, method: :get) do %>
      <div class="form-group row">
        <%=select_tag :filter, options_for_select(Exercise.body_parts, params[:filter]), include_blank: 'All', class: "form-control col-8"%>
        <%=submit_tag 'Filter', name: nil, class: 'form-control col-2'%>
      </div>
  <% end %>
</div>

<ul id = "exerciseList">
  <%= render(@exercises) || 'There are no exercises at the moment.' %>
</ul>